body {
  background-color: lightgray;
  margin: 0;
  text-align: center;
  font-size: xx-large;
  overflow: hidden;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  background-color: rgb(185, 185, 185);
  border: 2px solid darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 20vh;
  flex-grow: 1;
  margin: 1vh;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 1vh 0;
}

.b,
.c,
.d {
  background-color: rgb(185, 185, 185);
  border: 2px solid darkgray;
  display: flex;
  justify-content: center;
  margin: 0 1vh 0 1vh;
  flex-grow: 4;
  min-height: 15vh;
  min-width: 29vw;
  max-width: 29vw;
}

.e,
.f,
.g {
  background-color: rgb(185, 185, 185);
  border: 2px solid darkgray;
  display: flex;
  justify-content: center;
  margin: 1vh 1vh 0 1vh;
  flex-grow: 4;
  min-height: 15vh;
  min-width: 29vw;
  max-width: 29vw;
}
.h {
  background-color: rgb(185, 185, 185);
  border: 2px solid darkgray;
  flex-grow: 5;
  margin: 1vh;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .h {
    max-width: 24vw;
    min-width: 24vw;
    margin: 0 2vw 1vh 0.5vw;
    min-height: 60vh;
  }
  .container-2 {
    flex-wrap: wrap;
    max-width: 70vw;
    min-width: 70vw;
    margin: 0.5vh 0.5vw 2vh 2vh;
  }

  .b,
  .c,
  .d {
    max-width: 21vw;
    min-width: 21vw;
    margin: 0;
    min-height: 30vh;
  }

  .e,
  .f,
  .g {
    max-width: 21vw;
    min-width: 21vw;
    margin: 2vh 0 0 0;
    min-height: 30vh;
  }

  .a {
    width: 100%;
    margin: 2vh;
    min-height: 30vh;
  }
}
